apiVersion: apps/v1
kind: Deployment
metadata:
  namespace: werify-staging
  name: werify
spec:
  replicas: 1
  selector:
    matchLabels:
      app: werify
  strategy:
    type: RollingUpdate
    rollingUpdate:
      maxSurge: 1
      maxUnavailable: 0
  template:
    metadata:
      labels:
        app: werify
    spec:
      imagePullSecrets:
      - name: ghcr-credentials
      containers:
      - name: werify
        image: ghcr.io/prem-prakash/whatsapp-extractor:staging
        ports:
        - containerPort: 4000
          name: http
        envFrom:
        - secretRef:
            name: secrets
        resources:
          requests:
            memory: "256Mi"
            cpu: "100m"
          limits:
            memory: "1Gi"
            cpu: "500m"
---
apiVersion: v1
kind: Service
metadata:
  name: werify
  namespace: werify-staging
spec:
  type: ClusterIP
  ports:
  - port: 4000
    targetPort: 4000
    protocol: TCP
    name: http
  selector:
    app: werify
