apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
  - minio/namespace.yaml
  - minio/pvc.yaml
  - minio/secret.yaml
  - minio/deployment.yaml
  - grafana/namespace.yaml
  - grafana/secret.yaml
  - grafana/deployment.yaml
  - grafana/ingress.yaml
